@import url('https://fonts.googleapis.com/css2?family=Exo:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --size: 75px;
    --clr-bg: #000000;
    --clr1: #ffffff;
    --clr3: #ffffff;
    --clr5: #ffffff;
  }
  
  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }
  
  body {
    margin: 0;
    min-height: 100vh;
    background-color: var(--clr-bg);
    display: grid;
    place-items: center;
  }
  
  /* text color */
  .loading {
    font-family: "Exo", sans-serif;
    position: absolute;
    color: white;
    text-align: center;
    left: calc(50% - 115px);
    right: calc(50% - 115px);
    white-space: nowrap;
    padding: 10px;
    margin: auto;
    /* Hacky solution that needs to be fixed, code belowe is for testing
    border: 3px solid #73AD21;*/

  }

  html {
    font-family: "Source Sans Pro", sans-serif;
    line-height: 3em;
    font-size: 1.2em;
  }

  
  
  .spinner {
    --animation-duration: 5000ms;
    position: relative;
    width: var(--size);
    height: var(--size);
    transform: rotate(45deg);
  }
  .spinner .spinner-item {
    --item-size: calc(var(--size) / 2.5);
    position: absolute;
    width: var(--item-size);
    height: var(--item-size);
    border: 4px solid var(--clr-spinner);
  }
  .spinner .spinner-item:nth-child(1) {
    --clr-spinner: var(--clr1);
    top: 0;
    left: 0;
    animation: spinner3A var(--animation-duration) linear infinite;
  }
  @keyframes spinner3A {
    0%, 8.33%, 16.66%, 100% {
      transform: translate(0%, 0%);
    }
    24.99%, 33.32%, 41.65% {
      transform: translate(100%, 0%);
    }
    49.98%, 58.31%, 66.64% {
      transform: translate(100%, 100%);
    }
    74.97%, 83.30%, 91.63% {
      transform: translate(0%, 100%);
    }
  }
  .spinner .spinner-item:nth-child(2) {
    --clr-spinner: var(--clr3);
    top: 0;
    left: var(--item-size);
    animation: spinner3B var(--animation-duration) linear infinite;
  }
  @keyframes spinner3B {
    0%, 8.33%, 91.63%, 100% {
      transform: translate(0%, 0%);
    }
    16.66%, 24.99%, 33.32% {
      transform: translate(0%, 100%);
    }
    41.65%, 49.98%, 58.31% {
      transform: translate(-100%, 100%);
    }
    66.64%, 74.97%, 83.30% {
      transform: translate(-100%, 0%);
    }
  }
  .spinner .spinner-item:nth-child(3) {
    --clr-spinner: var(--clr5);
    top: var(--item-size);
    left: var(--item-size);
    animation: spinner3C var(--animation-duration) linear infinite;
  }
  @keyframes spinner3C {
    0%, 83.30%, 91.63%, 100% {
      transform: translate(0, 0);
    }
    8.33%, 16.66%, 24.99% {
      transform: translate(-100%, 0);
    }
    33.32%, 41.65%, 49.98% {
      transform: translate(-100%, -100%);
    }
    58.31%, 66.64%, 74.97% {
      transform: translate(0, -100%);
    }
  }
  