<!DOCTYPE html>
<html lang="en" >
<head>
    <title>About Page</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta charset="UTF-8">
<!-- Import Bootstrap -->
  <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'><link rel="stylesheet" href="{{ url_for('static', filename='about.css')}}">

</head>
<body>
<!-- partial:index.partial.html -->
<body id="page-top" class="index">

    <!-- Navigation -->
    <nav class="navbar navbar-default navbar-fixed-top navbar-shrink">
        <div class="container">
            <!-- Hamburger Button on Mobile Display -->
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <!-- Logo -->  
                <a class="navbar-brand page-scroll" href="#page-top">                            
                <img src="{{url_for('static', filename='images/logo.jpeg')}}"  alt="Logo"> <span class="logo-text">Vault</span>
                </a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li class="hidden active">
                        <a href="#page-top"></a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#overview">Overview</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#about">About Us</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#product">Product</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#contact">Contact</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>

    <!-- Header -->
    <header>
        <div class="container">
            <div class="intro-text">
                <div class="intro-lead-in">product</div>
                <div class="intro-heading">Text text text text text text text text</div>
            </div>
        </div>
    </header>

    <!-- overview Section -->
    <section id="overview" class="section">
        <div class="container bg-overview">
            <div class="row">
                <div class="col-lg-6 text-center">
                    <h2 class="section-heading">PROTECT YOUR BRAND WITH BLOCKCHAIN</h2>
                    <h3 class="section-subheading">
                        It takes countless years and effort to build a brand that 
                        customers trust, but a single experience with 
                        counterfeit  goods  can  irreperably  damage  that  trust. 
                        Protect your brand with Blockchain Authentication 
                        Codes  that  give  customers  the  power  to  verify  their 
                        products using sophisticated blockchain technology.</h3>
                </div>
                <div class="col-lg-6">
                    <img class="overview-image" src="{{url_for('static', filename='images/ProductVerificationicon.png')}}" alt="Product Verification">
                </div>
            </div>
        </div>
    </section>

    <!-- About Section -->
    <section id="about" class="section">
        <div class="container bg-about">
            <div class="row">
                <div class="col-lg-5 web">
                    <img class="about-image" src="{{url_for('static', filename='images/EcommerceVerification.png')}}" alt="Ecommerce Verification">
                </div>
                <div class="col-lg-6 text-center">
                    <h2 class="section-heading rect-margin">SIMPLE & SECURE E-COMMERCE VERIFICATION</h2>
                    <h3 class="section-subheading">
                        A 2018 US Government Accountability Office report found
                        that  42%  of  items  purchased  from  online  retailors  were
                        counterfeit. Give your customers a straight forward way to
                        determine what is real and what is fake with Vault's
                        Blockchain Authentication Codes.</h3>
                </div>
                <div class="col-lg-5 mov">
                    <img class="about-image" src="{{url_for('static', filename='images/EcommerceVerification.png')}}" alt="Ecommerce Verification">
                </div>
            </div>
        </div>
    </section>

    <!-- Product Section -->

    <section id="product" class="section">
        <div class="container bg-product">
            <div class="row">
                <div class="col-lg-6 text-center">
                    <h2 class="section-heading">SAFEGUARD YOUR BRAND FROM RETAIL COUNTERFEITING</h2>
                    <h3 class="section-subheading">
                        Even if you verify retailors that sell your products, it is often difficult for 
                        customers to certify the seller's authenticity when they arrive at the 
                        physical location. Vault's Blockchain Authentication Codes ensure that 
                        customers can effortlessly determine the validity of the retailor prior to 
                        making a purchase.</h3>
                </div>
                <div class="col-lg-6">
                    <img class="product-image" src="{{url_for('static', filename='images/Retail Verification Icon.png')}}" alt="Retail Verification">
                </div>
            </div>
        </div>
    </section>


    <!-- Contact Us -->   

     <section id="contact" class="section">
        <div class="container bg-contact">
            <div class="row">
                <div class="col-lg-6">
                    <img class="contact-image" src="{{url_for('static', filename='images/Contact Us Icon.png')}}" alt="Contact Us">
                </div>
                <div class="col-lg-5 text-center">
                    <h2 class="section-heading">Contact Us</h2>
                    <h3 class="section-subheading">
                        <p class="p-br">
                        Have a question? Want to know if Vault's Blockchain Authentication Codes are 
                        right for your company? Interested in a demo? 
                    </p>
                        <p2>
                        Email:
                        <br>
                        Phone:
                    </p2>
                    </h3>
                </div>
                
            </div>
        </div>
    </section>

    <!-- Footer -->

    <footer>
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <span class="copyright">Copyright © 2021 Vault Inc. All rights reserved</span>
                </div>
                <div class="col-md-4">
                    <ul class="list-inline social-buttons">
                        <li>    
                            <a href="#"><img class="img-social" src="{{url_for('static', filename='images/twitter.png')}}" alt="Twitter"></a>
                        </li>
                        <li>
                            <a href="https://www.facebook.com/VaultQR"><img class="img-social" src="{{url_for('static', filename='images/facebook.png')}}" alt="Facebook"></a>
                        </li>
                        <li>
                            <a href="https://www.instagram.com/VaultVerification/"><img class="img-social" src="{{url_for('static', filename='images/instagram.png')}}" alt="Instagram"></a>
                        </li>
                        <li>
                            <a href="#"><img class="img-social" src="{{url_for('static', filename='images/youtube.png')}}" alt="Youtube"></a>
                        </li>
                        <li>
                            <a href="https://www.linkedin.com/company/vaultqr/?viewAsMember=true"><img class="img-social" src="{{url_for('static', filename='images/linkedin.png')}}" alt="LinkdIn"></a>
                        </li>
                    </ul>
                </div>
                <div class="col-md-4">
                    <ul class="list-inline quicklinks">
                        <li><a href="#">Privacy Policy</a>
                        </li>
                        <li><a href="#">Terms of Use</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>

<!-- JavaScript Imports -->

<!-- Smooth Scrolling -->
<script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
<script src='https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.2/jquery-ui.min.js'></script>
<!-- Illuminated Tiles -->
<script src='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js'></script><script  src="{{url_for('static', filename='about.js')}}"></script>

</body>
</html>
